[Unit]
Description=Sunshine Game Streaming Service
After=network.target

[Service]
ExecStart=/usr/bin/sunshine   # Adjust the path if Sunshine is installed elsewhere
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=graphical-session.target
