[Unit]
Description=Sunshine Game Streaming Service
After=sddm.service
StartLimitIntervalSec=500

StartLimitBurst=5

[Service]
ExecStart=/usr/bin/sunshine   # Adjust the path if Sunshine is installed elsewhere
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=graphical-session.target
