[Unit]
Description=Sunshine Game Streaming Service

StartLimitIntervalSec=500
StartLimitBurst=5

# After=xdg-desktop-autostart.target

[Service]
ExecStart=/usr/bin/sunshine  '/var/home/research/.config/sunshine/sunshine.conf'
ExecStartPre=/usr/bin/sleep 10
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=graphical.target
